{% block ewz_recaptcha_widget %}
{% set fid = random() %}
{% spaceless %}
    {% if form.vars.ewz_recaptcha_enabled %}
        {% if not form.vars.ewz_recaptcha_ajax %}
            <script type='text/javascript'> 
                var initRecField{{fid}} = function()
                {            
                    grecaptcha.render('ewz_recaptcha_div{{fid}}', {
                        'sitekey' : '{{form.vars.public_key}}',
                        'theme'   : '{{ attr.options.theme }}',
                        'size'    : '{{ attr.options.size }}',
                        'type'    : '{{ attr.options.type }}',
                        'expired-callback' : '{{ attr.options.expiredCallback }}'
                    }); 
                } 
                
                var timerIdCtr{{fid}} = 0;
                var timerId{{fid}}Call =  function(){
                    if(typeof window.recaptcha_ready !== 'undefined'){ 
                        clearInterval(timerId{{fid}});
                        initRecField{{fid}}(); 
                    }else if(timerIdCtr{{fid}} <= 10){
                        timerIdCtr{{fid}}++;
                    }else{         
                        clearInterval(timerId{{fid}});
                    } 
                }; 
                var timerId{{fid}} = 0;
                var recapcthaChecker{{fid}} = function(){
                    if (typeof window.recaptcha_ready !== 'undefined') { 
                         initRecField{{fid}}(); 
                    }else{ 
                         timerId{{fid}} = setInterval(timerId{{fid}}Call, 1000);
                    }
                };   
                recapcthaChecker{{fid}}(); 
            </script> 
            <div class="g-recaptcha" id="ewz_recaptcha_div{{fid}}"></div>
            <noscript>
                <div style="width: 302px; height: 352px;">
                    <div style="width: 302px; height: 352px; position: relative;">
                        <div style="width: 302px; height: 352px; position: absolute;">
                            <iframe src="https://www.google.com/recaptcha/api/fallback?k={{ form.vars.public_key }}"
                                    frameborder="0" scrolling="no"
                                    style="width: 302px; height:352px; border-style: none;"
                            >
                            </iframe>
                        </div>
                        <div style="width: 250px; height: 80px; position: absolute; border-style: none; bottom: 21px; left: 25px; margin: 0; padding: 0; right: 25px;">
                            <textarea id="g-recaptcha-response{{fid}}" name="g-recaptcha-response"
                                      class="g-recaptcha-response"
                                      style="width: 250px; height: 80px; border: 1px solid #c1c1c1; margin: 0; padding: 0; resize: none;"
                            >
                            </textarea>
                        </div>
                    </div>
                </div>
            </noscript>
        {% else %}
            <div id="ewz_recaptcha_div{{fid}}"></div>

            <script type="text/javascript">
            (function() {
                var script = document.createElement('script');
                script.type = 'text/javascript';
                script.onload = function() {
                    Recaptcha.create('{{ form.vars.public_key }}', 'ewz_recaptcha_div{{fid}}', {{ attr.options|default({})|json_encode|raw }});
                };
                script.src = '{{ form.vars.url_api }}';
                {% if attr.options.defer is defined and attr.options.defer %}script.defer = true;{% endif %}
                {% if attr.options.async is defined and attr.options.async %}script.async = true;{% endif %}
                document.getElementsByTagName('head')[0].appendChild(script);
            })();
            </script>
        {% endif %}
    {% endif %}
{% endspaceless %} 
{% endblock ewz_recaptcha_widget %}

